section.mt-5(style="margin-bottom: 200px;")
		.container
			h2.mb-4.text-center Pfrfpfnm j,hfnysq pdjyjr
			.row.justify-content-center
				form.col-md-5(action="/api/request-call" method="get")
					.mb-3
						label.form-label(for="name") Имя и фамилия
						input.form-control(
							type="text"
							id="name"
							name="name"
							placeholder="Иван Иванов"
							required
						)
					.mb-3
						label.form-label(for="email") Почта
						input.form-control(
							type="email"
							id="email"
							name="email"
							placeholder="email@example.com"
							required
						)
					.mb-3
						label.form-label(for="phone") Имя и фамилия
						input.form-control(
							type="text"
							id="phone"
							name="phone"
							placeholder="+7 (880) 555-35-35"
							required
						)
					button.btn.btn-success.w-100(type="submit") Jcnfdbnm pfzdre